#sidenav {
  position: relative;
  grid-area: sidenav; 
  display: block; 
  overflow: hidden; 
  /* padding: 20px 0px 10px 25px;  */
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(28, 28, 28, 0.1);
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

 

.dark #side-nav {
  background-color: var(--accent-white);
}

.dark #sidenav-setup {
  background-color: var(--accent-white);
}


/* Media query for small screens */
@media screen and (max-width: 768px) {

  #sidenav {
    /* display: none; */
     position: fixed !important;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 50;
    background-color: white;
    /* Ensure it doesn't mess with grid area since it's fixed */
    grid-area: auto; 
  }

}

#sidenav-setup {
  display: none;
}