@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@import "./css/header.css";
@import "./css/table.css";
@import "./css/sideNav.css";

:root {
  --background: #FAFBFC;
  --foreground: #171717;
  color-scheme: light;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-manrope), ui-sans-serif, system-ui, sans-serif;

  /* Color Base Tokens */
  --color-primary: #27A376;
  --color-secondary: #FACC15;
  --color-success: #22C55E;
  --color-warning: #FACC15;
  --color-error: #F75555;

  --color-gray-50: #FAFAFA;
  --color-gray-100: #F7FAFC;
  --color-gray-200: #EDF2F7;
  --color-gray-300: #E2E8F0;
  --color-gray-400: #CBD5E0;
  --color-gray-500: #A0AEC0;
  --color-gray-600: #718096;
  --color-gray-700: #4A5568;
  --color-gray-800: #2D3748;
  --color-gray-900: #1A202C;

  --color-brand-orange: #FE964A;
  --color-brand-blue: #0062FF;
  --color-brand-purple: #8C62FF;

  /* Typography Base Tokens */
  --text-h1: 48px;
  --text-h1--line-height: 1.2;
  --text-h2: 40px;
  --text-h2--line-height: 1.2;
  --text-h3: 32px;
  --text-h3--line-height: 1.2;
  --text-h4: 24px;
  --text-h4--line-height: 1.2;
  --text-h5: 20px;
  --text-h5--line-height: 1.2;
  --text-h6: 18px;
  --text-h6--line-height: 1.2;

  --text-body-xl: 18px;
  --text-body-xl--line-height: 1.5;
  --text-body-lg: 16px;
  --text-body-lg--line-height: 1.5;
  --text-body-md: 14px;
  --text-body-md--line-height: 1.5;
  --text-body-sm: 12px;
  --text-body-sm--line-height: 1.5;
  --text-body-xs: 10px;
  --text-body-xs--line-height: 1.5;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  color-scheme: dark;
}

html,
body {
  background-color: var(--background) !important;
  color: var(--foreground);
  font-family: var(--font-sans);
}

@layer components {

  /* Component Utilities */
  .h1 {
    @apply text-h1 font-bold;
  }

  .h2 {
    @apply text-h2 font-bold;
  }

  .h3 {
    @apply text-h3 font-bold;
  }

  .h4 {
    @apply text-h4 font-bold;
  }

  .h5 {
    @apply text-h5 font-bold;
  }

  .h6 {
    @apply text-h6 font-bold;
  }
}




main {
  grid-area: main;
  overflow-y: auto;
  width: 100%;
  padding: 0;
  background-color: var(--background);
  color: var(--foreground);
  transition: background-color 0.3s ease, color 0.3s ease;
}

#page-wrapper {
  display: grid;
  position: relative;
  height: 100dvh;
  grid-template-columns: max-content 1fr;
  grid-template-rows: 80px 1fr auto;
  grid-template-areas:
    "sidenav header"
    "sidenav main"
    "sidenav footer";
}

@media (max-width: 768px) {
  #page-wrapper {
    grid-template-areas:
      "sidenav header"
      "sidenav main"
      "sidenav footer";
    grid-template-columns: 0px 100%;
    grid-template-rows: 70px 1fr auto;
    width: 100vw;
    overflow-x: hidden;
    transition: grid-template-columns 0.3s ease;
  }

  #footer {
    width: 100%;
  }

  #page-wrapper.mobile-nav-open {
    grid-template-areas:
      "sidenav header"
      "sidenav main"
      "sidenav footer";
    grid-template-columns: 16rem 100%;
    overflow-x: hidden;
  }

  #page-wrapper.mobile-nav-open #sidenav {
    display: flex;
    transform: translateX(0);
  }

  main {
    grid-area: main;
    overflow-y: auto;
    width: 100%;
    padding: 14px !important;
    background-color: var(--background);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}